html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    position: relative;
}
input {
    font-size: 12px;
}
h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}
#show-listings {
    background-color: #244a86;
}
#hide-listings {
    background-color: #eb8300;
}
#find-closest {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 97.3%;
}
#zoom-to-area{
    background-color: #eb8300;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


    height: 40px;
    text-align: center;padding-left: 1%;
    padding-right: 1%;
    width: 96%;
}
#hide-listings, #show-listings {
    width: 48%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#map {
    bottom: 0px;
    height: 100%;
    width: 67%;
    margin-left: 33%;
    position:absolute;
}
#dir-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#dir-panel select, #right-panel input {
    font-size: 15px;
}
#dir-panel select {
    width: 100%;
}
#dir-panel i {
    font-size: 12px;
}
#dir-panel {
    height: 72%;
    float: right;
    width: 340px;
    overflow: auto;
}
#zoom-to-area-text{
    height: 40px;
    font-size: 20px;
    text-align: center;padding-left: 1%;
    padding-right: 1%;
    width: 93%;
}
.options-box {
    background: #fff;
    border: 1px solid #999;
    height: 100%;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 32%;
}
